.header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}
.header_left {
  display: flex;
}

.header_linkedin_logo {
  font-size: 45px;
  color: #0a66c2;
  margin-right: 10px;
}

.header_search {
  display: flex;
  align-items: center;
  padding:10px;
  height: 22px;
  background-color: #eef3f8;
  border-radius: 5px;
}
.header_search > input{
    outline:none;border: none;background: none;
}

.header_right {
    display:flex;
    align-items:center;
}